<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.guc.covid19support">


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Covid19Support">
        <activity
            android:name=".voip.udpcall.MainCallActivity"
            android:exported="true" />
        <activity
            android:name=".voip.udpcall.MakeCallActivity"
            android:exported="true" />
        <activity
            android:name=".voip.udpcall.RecieveCallActivity"
            android:exported="true" />
        <activity
            android:name=".MapsActivity"
            android:exported="true" />
        <activity
            android:name=".ProfileActivity"
            android:exported="true"
            android:parentActivityName=".profilemainactivity.PatientProfileMainActivity" />
        <activity
            android:name=".profilemainactivity.PatientProfileMainActivity"
            android:exported="true" />
        <activity
            android:name=".profilemainactivity.DoctorProfileMainActivity"
            android:exported="true" />
        <activity
            android:name=".registeration.Patient_Or_Doctor_Activity"
            android:exported="true"
            android:parentActivityName=".registeration.SignIn_SingUp_Activity" />
        <activity
            android:name=".registeration.Patient_SignUP_Activity"
            android:exported="true"
            android:parentActivityName=".registeration.Patient_Or_Doctor_Activity" />
        <activity
            android:name=".registeration.Doctor_SignUp_Activity"
            android:exported="true"
            android:parentActivityName=".registeration.Patient_Or_Doctor_Activity" />
        <activity
            android:name=".Start_Up_Activity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".registeration.SignIn_SingUp_Activity"
            android:exported="true" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDnBowIWel9o_HnEuXIwY1lnsbD1DFhJ-o" />
    </application>

</manifest>